@font-face {
  font-family: "AvertaDemo";
  src: url("../fonts/AvertaDemo-ExtraBoldItalic.otf") format("woff2"), format("AvertaDemo") url("../fonts/AvertaDemo-Regular.otf");
}
/* 
  ==========
  Variables
  ==========
  */
/* 
  ==========
  General Selectors
  ==========
  */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "AvertaDemo", sans-serif;
}

/* 
  ==========
  Discover Section
  ==========
  */
#discover .discover {
  width: 100vw;
  max-width: 1440px;
  margin: 0 auto;
  margin-block-start: 122px;
  padding: 64px 120px;
  /* 
  ==========
  Discover Card Section
  ==========
  */
  /* 
  ==========
  Media Query
  ==========
  */
}
#discover .discover header h2 {
  font-size: 34px;
  font-weight: 700;
}
#discover .discover header .filter__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#discover .discover header .filter__nav .discover__filter {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 40px 0px;
}
#discover .discover header .filter__nav .btn__filter {
  font-size: 14px;
  font-weight: 500;
  line-height: 17.452px;
  padding: 10px 20px;
  border-radius: 100px;
  background: rgba(220, 220, 220, 0.2);
}
#discover .discover header .filter__nav .btn {
  border-radius: 100px;
  background: rgba(220, 220, 220, 0.2);
  text-align: center;
  outline: none;
  border: none;
  cursor: pointer;
}
#discover .discover header .filter__nav .btn:hover {
  background: rgba(153, 141, 189, 0.6509803922);
}
#discover .discover header .filter__nav .btn__active {
  background: #3d00b7;
  color: #fff;
}
#discover .discover header .filter__nav .filter__icon button {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 20px;
}
#discover .discover header .filter__nav .filter__icon p {
  font-size: 14px;
  font-weight: 500;
  line-height: 17.452px;
}
#discover .discover__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  gap: 39.49px;
}
#discover .discover__cards .discover__card {
  width: 269.876px;
  background: #fff;
  border-radius: 13.165px;
  border: 1.097px solid rgba(242, 242, 242, 0.5);
  padding: 10px;
  /* 
  ==========
  Card Images Section
  ==========
  */
  /* 
  ==========
  Card Content Section
  ==========
  */
}
#discover .discover__cards .discover__card .card_img {
  position: relative;
}
#discover .discover__cards .discover__card .card_img .card__user {
  position: absolute;
  top: 90%;
  left: 5%;
}
#discover .discover__cards .discover__card .card_img .card__user :nth-child(2) {
  position: absolute;
  left: 60%;
}
#discover .discover__cards .discover__card .card_img .card__user :nth-child(3) {
  position: absolute;
  left: 130%;
}
#discover .discover__cards .discover__card .card_img .card__user :nth-child(4) {
  position: absolute;
  left: 200%;
}
#discover .discover__cards .discover__card .card__content {
  margin-block-start: 21.94px;
  padding: 10px;
}
#discover .discover__cards .discover__card .card__content h3 {
  font-size: 19.747px;
  font-weight: 700;
  line-height: 19.146px;
}
#discover .discover__cards .discover__card .card__content .eth {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #f4f4f4;
  padding: 20px 0px;
}
#discover .discover__cards .discover__card .card__content .eth__count {
  display: flex;
  align-items: center;
  gap: 5px;
}
#discover .discover__cards .discover__card .card__content .eth__count p {
  color: #00ac4f;
  font-size: 10.971px;
  font-weight: 700;
}
#discover .discover__cards .discover__card .card__content .eth .count p {
  color: #838383;
  font-size: 13.165px;
  font-weight: 500;
  line-height: 19.146px;
}
#discover .discover__cards .discover__card .card__content .bidding {
  display: flex;
  justify-content: space-between;
  margin-block-start: 10.84px;
}
#discover .discover__cards .discover__card .card__content .bidding .btn {
  border-radius: 109.706px;
  background: #f5f5f5;
  background: rgba(220, 220, 220, 0.2);
  text-align: center;
  padding: 4.39px 11px;
  outline: none;
  border: none;
  cursor: pointer;
  color: #4f33a3;
}
#discover .discover__cards .discover__card .card__content .bidding .btn__light {
  font-size: 10.971px;
  font-weight: 700;
  line-height: 19.146px;
}
#discover .discover__cards .discover__card .card__content .bidding .btn__bid {
  font-size: 15.359px;
  font-weight: 500;
}
#discover .discover .more__nft {
  text-align: center;
  margin-block-start: 55px;
}
#discover .discover .more__nft .btn__more {
  text-align: center;
  padding: 20px 40px;
  border-radius: 50px;
  border: 2px solid #3d00b7;
  color: #4f33a3;
  font-size: 20px;
  font-weight: 500;
  background: #fff;
  cursor: pointer;
}
@media screen and (max-width: 1200px) {
  #discover .discover {
    padding: 20px;
  }
}
@media screen and (max-width: 500px) {
  #discover .discover {
    padding: 20px;
    /* 
    ==========
    Discover Card Section
    ==========
    */
  }
  #discover .discover header {
    text-align: center;
  }
  #discover .discover header h2 {
    font-size: 20px;
  }
  #discover .discover header .filter__nav {
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
  #discover .discover header .filter__nav .discover__filter {
    order: 2;
    height: 0rem;
    overflow: hidden;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    transition: all 0.3s linear;
  }
  #discover .discover header .filter__nav .discover__filter.showFilter {
    height: 30rem;
  }
  #discover .discover header .filter__nav .filter__icon {
    margin: 5% auto;
  }
  #discover .discover__cards {
    grid-template-columns: repeat(1, 1fr);
  }
}/*# sourceMappingURL=discover.css.map */